{% extends 'header.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <p class="genrename mt-5">Your Wishlist</p>

    
    <div class="row mt-2">
    {% if favbook %}
        {% for book in favbook %}
        <div class="col-md-5 mb-2 ml-5">
            <div class="card" style="width:30rem; height:auto;">       
                <img src="{{book.image}}" class=" image" alt="...">
                <div class="card-body">
                    <div style="width:20rem; height:auto;">
                        <a href="/getbook/{{book.id}}" style="color: black !important;"><h6 class="card-title ml-3">{{book.title}}</h6></a>
                        <span class="card-text ml-3" style="text-align: justify;">Author: {{book.author}}</span>
                    </div>
                    
                    <div class="mt-4">
                        <a href="/remove_from_fav/{{book.id}}" class="add">Remove from Favourite</a>
                   
                        <a href="https://www.amazon.com/s?k={{book.title}}&rh=n%3A283155&tag=wsirn2020-20" target="_blank" class="add ml-3">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-info mt-3" role="alert"> 
            You have no books on your wishlist.
        </div>  
    {% endif %}
    </div>

{% endblock %}   